/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_tree .
 *
 */

.rollover .hover-bts {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 133px;
  height: 66px;
  margin-top: -33px;
  margin-left: -65.5px;
  text-indent: -23em;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
}